/*lblue 3c8dbc*/
/*dblu 367fa9*/
.scrolltable{
  overflow: scroll;
  height: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #3c8dbc;
}

.vendor-overlay {
  position: absolute;
  top: 27%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 73%;
  width: 100%;
  visibility: hidden;
  /*opacity: 0;
  transition: 1s ease;*/
  background-color: #3c8dbc;
}

.cardtext {
  color: white;
  position: absolute;
  font-size: small;
  text-align: center;
  top: 10%;

}
.cardcontainer:hover .overlay {
  opacity: 1;
}
/*navbar stuff*/

.nb:hover{
  color: #367fa9;
}

/*.navbar-nav .nav-item.active .nav-link,*/
.navbar-nav .nav-item:hover .nav-link {
    background-color: #367fa9;
    border-radius: 10px;
    color: white;
}

.navbar-nav .nav-item:hover .nav-link .dropdown{
    background-color: #367fa9;
    color: white;
}

::placeholder {
    color: #9EC6DE;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #9EC6DE;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #9EC6DE;
}

/*lblue 3c8dbc*/
/*dblu 367fa9*/
/*--------------------- Vendor Icon cursor ---------------------*/

#vendor_icon{
  cursor: pointer;
}

.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}

.ttooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.ttooltip .ttooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.ttooltip:hover .ttooltiptext {
  visibility: visible;
}

/* Yosuf ElSaadany
3/14/2019 1:47 pm
Integration of Modal- Styling
*/

/*--------------------- MODAL WITH STEPS FOR SPOC TO EXECUTE ---------------------*/
/* Modal Content */
.modal-content {
  max-height: 85vh;
  overflow-y: auto; 
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90% !important;
}

/* Modal Title */
.modal-title {
  font-size: 20px;
  font-weight: 500;
}

/* Text weight for paragraphs */
p:only-child {
  font-weight: bold;
}

#participants::-webkit-input-placeholder{
  color:#999;
}

#participants::-moz-placeholder{
  color:#999;
}

#participants:-ms-input-placeholder{
  color:#999
}

#modalIcons:hover {
  color: #3c8dbc;
  cursor: pointer;
}

#modalIcons {
  float: right;
}

/*------------------------------- ACCORDION ELEMENTS--------------------------------*/

.card-header {
  background-color: #3c8dbc;
}

.mb-0 {
  color: white;
  text-align: center;
}

/*----------------- PROGRESS CARD IN THE LEFT SIDE OF THE MODAL --------------------*/
/* Assigned id to card in modal to avoid interference with the card Class that Nicolas has used */
#card {
  width: 100%;
}

/* Assigned id to card-body in modal to avoid interference with the card-body Class that Nicolas has used */
#card-body {
  background-color: #3c8dbc;
  color: white;
}

/* Status Dots */
.dot {
  float: right;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

/* Different Colors for status dots */
#completed { background-color:green;}
#inprogressdot { background-color:yellow;}
#pending { background-color:red;}

/*---------------------------- Modal for Approval Email ----------------------------*/

/* Positioning of Modal as requested by Mahesh */
#approval {
  margin-left: 10%;
  margin-top: 19%;
}